.container {
    background: var(--color-white);
    border: 1px solid #dbeafe; /* Och ko'k border */
    border-radius: var(--radius-xl);
    padding: 1.5rem;
    box-shadow: var(--shadow-sm);
    position: sticky;
    top: 1rem;
}

.header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.header h3 {
    font-weight: 700;
    font-size: 1.25rem;
}

.desc {
    font-size: 0.875rem;
    color: var(--color-text-light);
    margin-bottom: 1rem;
}

.inputWrapper {
    margin-bottom: 1rem;
}

.textarea {
    width: 100%;
    height: 150px;
    padding: 0.75rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    resize: none;
    font-family: var(--font-main);
    outline: none;
}

.textarea:focus {
    border-color: var(--color-primary);
}

.button {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 0.75rem;
    border-radius: var(--radius-md);
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: var(--color-primary-dark);
}
