:root {
    --color-primary: #014b8a; /* Asosiy ko'k */
    --color-primary-dark: #014b8a; /* To'qroq ko'k (hover uchun) */
    --color-secondary: #fbbf24; /* Sariq/Oltin */
    --color-bg: #f9fafb; /* Fon rangi */
    --color-white: #ffffff;
    --color-text: #1f2937; /* Asosiy matn */
    --color-text-light: #6b7280; /* Yengil matn */
    --color-border: #e5e7eb;

    --font-main: "Inter", system-ui, -apple-system, sans-serif;

    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    --radius-md: 0.5rem;
    --radius-lg: 0.75rem;
    --radius-xl: 1rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}
